<template>
  <GridLayout rows="auto, auto" class="input-field">
    <HTMLLabel :text="text" class="input-field-header" row="0" @tap="focusTextField"/>
    <TextField class="input-field-content"
               v-model="value"
               row="1"
               @blur="update"
               @textChange="valueChanged"
               ref="text-view"
    />
  </GridLayout>
</template>

<script>

export default {
  name: "CommentField",
  props: ['data', 'text'],
  data() {
    return {
      value: null,
      valueSet: false
    }
  },
  mounted() {
    this.value = this.data
    setTimeout(() => {
      this.valueSet = true
    }, 1)
  },
  methods: {
    valueChanged() {
      if(this.valueSet) {
        let text = this.value
        setTimeout(() => {
          if(text === this.value) {
            console.log('emit '+this.value)
            this.$emit('valueChanged', this.value)
          }
        }, 500)
      }
    },
    focusTextField() {

    },
    update() {

    }
  }
}
</script>

<style scoped>
.input-field {
  border-radius: 26;
  background-color: white;
  padding: 10 16;
}
.input-field .input-field-content {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 6;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  border-width: 0;
  placeholder-color: #B1B1B1;
  color: #6E6E6E;

}
</style>
