<template>
    <Page>
      <GridLayout rows="*" backgroundColor="grey">
        <CollectionView :items="items" ref="cv" row="0" paddingLeft="20" paddingRight="20" paddingTop="30">
          <v-template>
            <GridLayout rows="auto, 10, auto"
                        marginBottom="20" backgroundColor="transparent">
              <!--<SwitchField :text="item.name" :data="item.in_sale" row="0" @valueChanged="valueChanged('in_sale', $event, item.id)"/>-->
              <MDSwitch :checked="item.in_sale_bool" row="0" @checkedChange="checkedChange($event, item.id)"/>
              <CommentField text="Bemerkung" :data="item.comment" row="2" @valueChanged="valueChanged('comment', $event, item.id)"/>
            </GridLayout>
          </v-template>
        </CollectionView>
      </GridLayout>
    </Page>
</template>

<script>
import SwitchField from "~/components/SwitchField.vue";
import CommentField from "~/components/CommentField.vue";
const ObservableArray = require('@nativescript/core/data/observable-array').ObservableArray
export default {
  components: {SwitchField, CommentField},
  data() {
    return {
      items: new ObservableArray([
        {
          id: 1,
          name: 'test 1',
          in_sale: 1,
          in_sale_bool: false,
          comment: 'test',
        },
        {
          id: 2,
          name: 'test 2',
          in_sale: 1,
          in_sale_bool: true,
          comment: 'test',
        },
        {
          id: 3,
          name: 'test 3',
          in_sale: 1,
          in_sale_bool: true,
          comment: 'test',
        },
        {
          id: 4,
          name: 'test 4',
          in_sale: 1,
          in_sale_bool: true,
          comment: 'test',
        },
        {
          id: 5,
          name: 'test 5',
          in_sale: 1,
          in_sale_bool: true,
          comment: 'test',
        },
        {
          id: 6,
          name: 'test 6',
          in_sale: 1,
          in_sale_bool: true,
          comment: 'test',
        },
        {
          id: 7,
          name: 'test 7',
          in_sale: 1,
          in_sale_bool: true,
          comment: 'test',
        },
        {
          id: 8,
          name: 'test 8',
          in_sale: 1,
          in_sale_bool: true,
          comment: 'test',
        },
        {
          id: 9,
          name: 'test 9',
          in_sale: 1,
          in_sale_bool: true,
          comment: 'test',
        },
        {
          id: 10,
          name: 'test 10',
          in_sale: 1,
          in_sale_bool: true,
          comment: 'test',
        },
      ]),
    }
  },
  methods: {
    checkedChange(args, itemId) {
      let index = this.items.findIndex(el => el.id === itemId)
      let item = this.items.getItem(index)
      if(args.value !== item.in_sale_bool) {
        item.in_sale_bool = args.value
        this.items.setItem(index, item)
      }
    },
    valueChanged(column, value, itemId) {
      let index = this.items.findIndex(el => el.id === itemId)
      if(column === 'comment') {
        let item = this.items.getItem(index)
        item[column] = value
        this.items.setItem(index, item)
      } else {
        let item = this.items.getItem(index)
        item[column] = this.reversedCheckedValueParser(value)
        this.items.setItem(index, item)
      }
    },
    reversedCheckedValueParser(value) {
      if(value === '1' || value === 1 || value === true || value === 'true') {
        return 1
      }
      return 0
    }
  },
  computed: {
    message() {
      return "Blank {N}-Vue app";
    }
  }
}
</script>

<style scoped lang="scss">
    @import '@nativescript/theme/scss/variables/blue';

    // Custom styles
    .fas {
        @include colorize($color: accent);
    }

    .info {
        font-size: 20;
        horizontal-align: center;
        vertical-align: center;
    }
</style>
