<template>
  <GridLayout columns="*, 20, 60" class="switch-field">
    <HTMLLabel :text="text" verticalTextAlignment="center" class="switch-text" col="0"/>
    <MDSwitch :checked="parsedCheckedValue"
              @checkedChange="valueChanged"
              class="md-switch-el"
              ref="switch"
              col="2"
              row="0"
              :backgroundColor="'blue'"
              :offBackgroundColor="'#F6F6F7'"
              :color="'white'"
    />
  </GridLayout>

</template>

<script>

export default {
  name: "SwitchField",
  props: ['data', 'text'],
  data() {
    return {
      value: null,
    }
  },
  mounted() {
    this.value = this.data
  },
  methods: {
    boolParser(value) {
      if(value === '1' || value === 1 || value === true || value === 'true') {
        return true
      }
      return false
    },
    invertedBoolParser(value) {
      if(value === '1' || value === 1 || value === true || value === 'true') {
        return 1
      }
      return 0
    },
    valueChanged(args) {
      this.value = args.value
      if(this.value !== this.boolParser(this.data)) {
        this.$set(this, 'data', this.invertedBoolParser(args.value))
        this.$emit('valueChanged', this.checkedValueParser(this.parsedCheckedValue))
      }
    },
    checkedValueParser(value) {
      if(value === '1' || value === 1 || value === true || value === 'true') {
        return '1'
      }
      return '0'
    }
  },
  computed: {
    parsedCheckedValue() {
      if(this.value === '1' || this.value === 1 || this.value === true || this.value === 'true') {
        return true
      }
      return false
    }
  }
}
</script>

<style scoped>
  .switch-field {
    border-radius: 26;
    background-color: white;
    padding: 10 16;
  }
</style>
